:root {
    line-height: 2;
    --theme-color: #1130FF;
    --base-font-family:  "Open Sans";

    /* Side bar */
    --sidebar-nav-link-before-content-l3 : '';

    /* Cover page */
    --cover-background-color: hsl(231, 47%, 14%);
    --cover-heading-font-weight : 600;
    --strong-font-weight: 800;
    --heading-h1-font-weight: 600; 
    --heading-h2-font-weight: 600;
  }

h1.app-name {
    font-weight: 600; 
}
